.show-msg{
    display:block !important;
}
.show-flex{
    display:flex !important;
}
.hidden-msg{
    display:none !important;
}
.main-list{
    text-overflow: ellipsis;
}
.main-list img {
    max-height:9rem;
    object-fit: contain;
}
.m-col{
    height: 50%;
}
.upper-cell{
    height:6rem;
}
.under-cell{
    height:3rem;
}

.readonly-box{
    color: lightgray;
    border: 1px solid lightgray;
    background-color: #fbf9e2;
}